#Turn mod_rewrite on
RewriteEngine On
RewriteBase /zomphp/

#Protect my directories from unauthorized access
Options All -Indexes
ServerSignature Off
IndexIgnore *

#Reroute everything through index.php?_z=page.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?_z=$1 [L]
